<ion-card color='dark'>
    <ion-card-header>
      <ion-card-title class='noticia-title' (click)='abrirNoticia()'>{{noticia.title}}</ion-card-title>
      <div class='noticia-more'>
          <ion-button fill='clear' (click)='lanzarMenu()'>
            <ion-icon slot='icon-only' name='more' mode='md' color='principal'></ion-icon>
          </ion-button>
      </div>
      <ion-card-subtitle>
          <span class='text-primary'></span>
          <span class='noticia-source-name'>{{noticia.source.name}}</span>
      </ion-card-subtitle>
    </ion-card-header>
    <div class='img-container'>
      <ion-img [src]='noticia.urlToImage' *ngIf='noticia.urlToImage' class='noticia-img animated fadeIn fast'
      (click)='abrirNoticia()'></ion-img>
    </div>
    <ion-card-content>
      <p class='noticia-description'>{{noticia.description}}</p>
    </ion-card-content>
</ion-card>