// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

// ESTILOS PROPIOS
.text-primary{
    color: #f38181 !important;
}
.noticia-source-name{
    color: #f38181 !important;
    font-size : 10px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.noticia-title {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
}
.noticia-description{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}