// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

// ESTILOS PROPIOS
.text-primary{
    color: #f38181 !important;
}
.noticia-source-name{
    color: #f38181 !important;
    font-size : 10px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.noticia-title {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
}
.noticia-description{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.action-dark, .action-sheet-group{
    background-color: var(--ion-color-dark) !important;
    color: white !important;
}
.action-dark ion-icon{
    color: white !important;
}

// Animaciones
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.animated.fast {
    -webkit-animation-duration: 700ms;
    animation-duration: 700ms;
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
      opacity: 1;
    }
}
  
@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}